body{

margin:0;

background:#0d1117;

font-family:Poppins;

color:white;

overflow-x:hidden;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

}

.typing{

font-size:55px;

color:#58a6ff;

}

.subtitle{

font-size:22px;

opacity:.8;

margin-bottom:30px;

}

button{

padding:18px 35px;

border:none;

background:#ff4d6d;

color:white;

font-size:20px;

border-radius:40px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.1);

}

#content{

display:none;

padding:60px;

max-width:900px;

margin:auto;

}

.card{

background:#161b22;

padding:30px;

margin:30px 0;

border-radius:20px;

box-shadow:0 0 25px rgba(255,0,100,.25);

}

pre{

font-family:Fira Code;

font-size:17px;

white-space:pre-wrap;

color:#7ee787;

}

.letter p{

line-height:2;

font-size:18px;

}

h2{

color:#ff7b72;

}
